.red {
        color: red;
}

.green {
        color: green;
}

.ip {
        position: relative;
        display: inline-block;
        color: darkcyan;
}

.ip .tooltiptext {
        visibility: hidden;
        width: 120px;
        bottom: 80%;
        left: 50%;
        margin-left: -60px;
        /* Use half of the width (120/2 = 60), to center the tooltip */
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 3px 0;
        border-radius: 3px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
}

.ip:hover .tooltiptext {
        visibility: visible;
}

#widget {
        display: flex;
        align-items: center;

        border-color: brown;
        border-width: 5px;
        border-style: solid;
        margin-right: auto;
        max-width: 400px;
        max-height: 200px;
        overflow: hidden;
        /*         
        border-color: brown;
        border-width: 5px;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        width: 50%; */

}

#status {
        padding: 30px 15px;
        line-height: 30px;
        text-decoration-line: underline;
}

#favicon {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
}